:root {
  --loadingColor: #999999;
  --mainGreen: #d8e6cd;
  --secondaryGreen: #92bb8e;
  --tertiaryGreen: #adb79d;
  --mainGrey: #DCDCDC;
  --secondaryGrey: #ededed;
}

.customTypography {
    cursor: pointer;
    text-align: center;
    padding: 4px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Add a slight shadow to mimic blur */
    transition: box-shadow 0.3s ease; /* Add a transition for a smooth effect */
  }
  
.customTypography:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); /* Increase the shadow on hover */
    background-color: var(--secondaryGrey);
  }

.currentPage {
    background-color: var(--secondaryGreen);
    font-weight: bold;
}